<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="app.js"></script>
    <script src="book.directive.js"></script>
    <title>Directives</title>
</head>
<body ng-app="app">
{{"Good Morning!"}}

<book data="big"></book>
<book data="small"></book>
</body>
</html>